body{
    font-family: sans-serif;
}

.header{
    font-size: 5em;
    text-align: center;
}

.pokemon-card{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.5s;
}

.pokemon-card > img{
    height: auto;
    width: 420px;
}

.pokemon-card:hover{
    transform: scale(1.01);
    border: 5px solid dodgerblue;
    cursor: pointer;
}

#container{
    display: flex;
    justify-content: center;
    gap: 1%;
}

#roster{
    display:flex;
    justify-content: center;
}

div[id^="pokemon-"]{
    width:100px;
    height: 100px;
    border: 1px solid #ccc;
}

.roster-img{
    height: 100px;
    width: 100px;
}